.row {
  display: flex;
  flex-direction: row;
}

.vCenter {
  align-items: center;
  display: flex;
  height: 100%;
}

.hCenter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hFillContainer {
  width: 100%;
}

.vFillContainer {
  height: 100%;
}

.alignCenter {
  align-items: center;
}
.alignMiddle {
  align-items: center;
}
.spaceBetween {
  justify-content: space-between;
}
