@import "src/assets/styles/modules";

.item {
  @include drop-shadow(sm);
  @include border-radius(sm);
  @extend .row;
  @extend .vCenter;
  @extend .mdHGutter;

  background-color: $white;
  padding: $space-xs $space-sm;
}

.input {
  border: none;
  width: 100%;
}

.popover {
  @include border-radius(sm);
  @extend .smPadding;

  background-color: $white;
}
