@import "modules/color";
@import "modules/font";
@import "modules/size";
@import "modules/space";
@import "modules/alignment";
@import "modules/shadow";
@import "modules/flex";
@import "modules/z-index";
@import "modules/radius";

.page {
  > section {
    padding: 0 $space-xl;
  }
}

.sectionInnerWrap {
  margin: 0 auto;
  max-width: $max-page-content-width;
  width: 100%;
}

.marginOff {
  margin: 0 !important;
}

.paddingOff {
  padding: 0 !important;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.listable {
  li {
    list-style-type: circle;
  }
}

.hidden {
  display: none;
}

.rightBorder {
  border-right: 1px solid $line-color;
}

.darkHr {
  border-top: 1px solid $dark-gray;
}

.whiteHr {
  border-top: 1px solid $white;
}

.clickable {
  cursor: pointer;
}